.header_tS_Sk {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    background-color: #eee;
    background-color: var(--asos-grey-20)
}

.main_GDuYi {
    margin-top: 29px;
}

@media (min-width:0px) and (max-width:767px) {
    .header_tS_Sk {
        padding: 20px 0
    }
}

@media (min-width:768px) and (max-width:1023px),
(min-width:1024px) {
    .header_tS_Sk {
        padding: 24px 0
    }
}

#chrome-footer {
    width: 100%;
    margin-top: auto;
}

:root {
    --product-tile-gutter: 12px;
    --small-product-tile-gutter: var(--product-tile-gutter);
    --medium-product-tile-gutter: calc(var(--product-tile-gutter)*2);
    --large-product-tile-gutter: calc(var(--product-tile-gutter)*3);
    --small-product-tile-width: calc((100% - var(--small-product-tile-gutter))/var(--small-number-of-products-per-row));
    --medium-product-tile-width: calc((100% - var(--medium-product-tile-gutter))/var(--medium-number-of-products-per-row));
    --large-product-tile-width: calc((100% - var(--large-product-tile-gutter))/var(--large-number-of-products-per-row))
}

.productTiles_2GifC {
    position: relative;
    display: flex;
    flex-grow: 1
}

.productTiles_2GifC ol {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 32px;
    margin: 0 auto
}

.productTiles_2GifC li {
    margin: 12px 12px 28px 0;
    margin: 12px var(--product-tile-gutter) 28px 0;
    flex: 0 1 auto
}

@media (min-width:0px) and (max-width:767px) {
    .productTiles_2GifC li {
        width: calc((100% - 12px)/2);
        width: var(--small-product-tile-width);
        max-width: 238px;
        margin-bottom: 20px
    }

    .productTiles_2GifC li:nth-of-type(2n) {
        margin-right: 0
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .productTiles_2GifC li {
        width: calc((100% - 24px)/3);
        width: var(--medium-product-tile-width);
        margin-bottom: 24px
    }

    .productTiles_2GifC li:nth-of-type(3n) {
        margin-right: 0
    }
}

@media (min-width:1024px) {
    .productTiles_2GifC li {
        width: calc((100% - 36px)/4);
        width: var(--large-product-tile-width);
        margin-bottom: 28px
    }

    .productTiles_2GifC li:nth-of-type(4n) {
        margin-right: 0
    }
}

@media (min-width:768px) and (max-width:1023px),
(min-width:1024px) {
    .productTiles_2GifC li {
        max-width: 316px
    }
}

@-webkit-keyframes pulse_30sAm {

    0%,
    to {
        background-color: #ddd;
        background-color: var(--asos-grey-40)
    }

    50% {
        background-color: #f8f8f8;
        background-color: var(--asos-grey-10)
    }
}

@keyframes pulse_30sAm {

    0%,
    to {
        background-color: #ddd;
        background-color: var(--asos-grey-40)
    }

    50% {
        background-color: #f8f8f8;
        background-color: var(--asos-grey-10)
    }
}

@-webkit-keyframes fadeIn_3Ra8S {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn_3Ra8S {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

:root {
    --placeholder-price-width: 80px;
    --placeholder-title-line-two-width-small: 104px;
    --placeholder-title-line-two-width-large: 140px;
    --placeholder-line-height: 16px;
    --placeholder-text-margin: calc((var(--product-tile-title-height) - 2*var(--placeholder-line-height))/2);
    --placeholder-price-padding-bottom: calc(var(--product-tile-price-height) - var(--placeholder-line-height));
    --placeholder-to-bag-button-margin: calc(2*var(--product-tile-select-height) + var(--product-tile-to-bag-button-top-margin) + var(--placeholder-price-padding-bottom))
}

.productTileContentPlaceholder_1qLIS {
    flex: 0 1 auto;
    flex-direction: column;
    position: relative
}

.productTilePlaceholder_2Eq__ {
    position: relative;
    display: block
}

.productImagePlaceholder_Hq7ud {
    overflow: hidden;
    margin-bottom: 12px;
    margin-bottom: var(--product-tile-title-top-margin);
    padding-top: 127.586%;
    padding-top: var(--product-tile-image-height)
}

.priceTextPlaceholder_1Lden,
.titleTextLineOnePlaceholder_21JzJ,
.titleTextLineTwoPlaceholder_DpRMY {
    height: 16px;
    height: var(--placeholder-line-height)
}

.titleTextLineOnePlaceholder_21JzJ,
.titleTextLineTwoPlaceholder_DpRMY {
    margin: 4px 0;
    margin: var(--placeholder-text-margin) 0
}

.priceTextPlaceholder_1Lden {
    width: 80px;
    width: var(--placeholder-price-width);
    margin-top: 12px;
    margin-top: calc(var(--product-tile-price-top-margin) + var(--placeholder-text-margin))
}

.priceTextPlaceholderThreeLines_3yxNZ {
    height: 32px;
    height: calc(2*var(--placeholder-line-height))
}

.itemToBagButtonPlaceholder_2U1h6 {
    height: 32px;
    margin-top: 124px;
    margin-top: var(--placeholder-to-bag-button-margin)
}

.itemToBagButtonPlaceholder_2U1h6,
.priceTextPlaceholder_1Lden,
.productImagePlaceholder_Hq7ud,
.titleTextLineOnePlaceholder_21JzJ,
.titleTextLineTwoPlaceholder_DpRMY {
    background: #ddd;
    background: var(--asos-grey-40)
}

.pulsing_lDoZ- .itemToBagButtonPlaceholder_2U1h6,
.pulsing_lDoZ- .priceTextPlaceholder_1Lden,
.pulsing_lDoZ- .productImagePlaceholder_Hq7ud,
.pulsing_lDoZ- .titleTextLineOnePlaceholder_21JzJ,
.pulsing_lDoZ- .titleTextLineTwoPlaceholder_DpRMY {
    -webkit-animation: pulse_30sAm 2s infinite;
    animation: pulse_30sAm 2s infinite
}

@media (min-width:0px) and (max-width:767px) {
    .titleTextLineTwoPlaceholder_DpRMY {
        width: 104px;
        width: var(--placeholder-title-line-two-width-small)
    }
}

@media (min-width:768px) and (max-width:1023px),
(min-width:1024px) {
    .titleTextLineTwoPlaceholder_DpRMY {
        width: 140px;
        width: var(--placeholder-title-line-two-width-large)
    }
}

.lazyLoadObserver_3PSDW,
.observer_ZMATP {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}

.lazyLoadObserver_3PSDW {
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    padding: 0 0 32px;
    pointer-events: none
}

.lazyLoadBlock_2EgFC {
    display: block;
    width: 100%;
    box-sizing: border-box
}

.itemsHeader_3caTH {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.itemCount_1ZeG5 {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .8px;
    color: #666;
    color: var(--asos-grey-90);
    text-align: right;
    max-width: 30%
}

.select_mLH9c {
    position: relative
}

.select_mLH9c select {
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background: var(--asos-white);
    width: 100%;
    border-radius: 0;
    border: 0;
    padding-right: 34px;
    padding-right: calc(var(--indicator-width) + 2*var(--indicator-padding));
    padding-left: 1px;
    cursor: pointer;
    overflow: hidden
}

.select_mLH9c select::-ms-expand {
    display: none
}

.select_mLH9c select[disabled] {
    color: #767676;
    color: var(--asos-grey-70);
    cursor: default
}

.select_mLH9c select[disabled]::-ms-value {
    color: #767676;
    color: var(--asos-grey-70);
    cursor: default
}

.hasOptions_11lNF.select_mLH9c select[disabled] {
    color: #ddd;
    color: var(--asos-grey-40)
}

.hasOptions_11lNF.select_mLH9c select[disabled]::-ms-value {
    color: #ddd;
    color: var(--asos-grey-40)
}

.disabled_27QKI .indicator_2GBcb {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' xmlns='http://www.w3.org/2000/svg' fill='%23ddd'%3E%3Cpath d='M5.057 3.566L7.974.649l1.414 1.414-4.243 4.243-.088-.089-.084.085L.73 2.06 2.141.65l2.916 2.916z'/%3E%3C/svg%3E") no-repeat
}

.indicator_2GBcb {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' xmlns='http://www.w3.org/2000/svg' fill='%232d2d2d'%3E%3Cpath d='M5.057 3.566L7.974.649l1.414 1.414-4.243 4.243-.088-.089-.084.085L.73 2.06 2.141.65l2.916 2.916z'/%3E%3C/svg%3E") no-repeat;
    position: absolute;
    width: 10px;
    width: var(--indicator-width);
    height: 7px;
    height: var(--indicator-height);
    top: calc(50% - 3.5px);
    top: calc(50% - var(--indicator-height)/2);
    right: 12px;
    right: var(--indicator-padding);
    cursor: pointer;
    margin-top: 2px;
    pointer-events: none
}

:root {
    --indicator-height: 7px;
    --indicator-width: 10px;
    --indicator-padding: 12px
}

.select_3LTpn {
    position: relative
}

.select_3LTpn select {
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background: var(--asos-white);
    width: 100%;
    border-radius: 0;
    border: 0;
    padding-right: 34px;
    padding-right: calc(var(--indicator-width) + 2*var(--indicator-padding));
    padding-left: 1px;
    cursor: pointer;
    overflow: hidden
}

.select_3LTpn select::-ms-expand {
    display: none
}

.select_3LTpn select[disabled] {
    color: #767676;
    color: var(--asos-grey-70);
    cursor: default
}

.select_3LTpn select[disabled]::-ms-value {
    color: #767676;
    color: var(--asos-grey-70);
    cursor: default
}

.hasOptions_1PXZ0.select_3LTpn select[disabled] {
    color: #ddd;
    color: var(--asos-grey-40)
}

.hasOptions_1PXZ0.select_3LTpn select[disabled]::-ms-value {
    color: #ddd;
    color: var(--asos-grey-40)
}

.disabled_yZjTE .indicator_36iRX {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' xmlns='http://www.w3.org/2000/svg' fill='%23ddd'%3E%3Cpath d='M5.057 3.566L7.974.649l1.414 1.414-4.243 4.243-.088-.089-.084.085L.73 2.06 2.141.65l2.916 2.916z'/%3E%3C/svg%3E") no-repeat
}

.indicator_36iRX {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' xmlns='http://www.w3.org/2000/svg' fill='%232d2d2d'%3E%3Cpath d='M5.057 3.566L7.974.649l1.414 1.414-4.243 4.243-.088-.089-.084.085L.73 2.06 2.141.65l2.916 2.916z'/%3E%3C/svg%3E") no-repeat;
    position: absolute;
    width: 10px;
    width: var(--indicator-width);
    height: 7px;
    height: var(--indicator-height);
    top: calc(50% - 3.5px);
    top: calc(50% - var(--indicator-height)/2);
    right: 12px;
    right: var(--indicator-padding);
    cursor: pointer;
    margin-top: 2px;
    pointer-events: none
}

.sortSelect_Y7hcA {
    display: inline-block;
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .6px
}

.select_3LTpn select {
    font: inherit
}

.label_2_0rr {
    display: none
}

@media (max-width:479px) {
    .label_2_0rr {
        transform: translateY(-100%);
        display: inline-block;
        margin-right: 34px;
        margin-right: calc(var(--indicator-width) + 2*var(--indicator-padding))
    }

    .sortSelect_Y7hcA {
        height: 22px
    }

    .sortSelect_Y7hcA select {
        padding-left: 1px
    }

    .label_2_0rr,
    .select_3LTpn:before {
        pointer-events: none
    }

    .select_3LTpn:before {
        content: "";
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        left: 1px;
        background-color: #fff;
        background-color: var(--asos-white)
    }

    .sortSelect_Y7hcA>div {
        display: flex
    }

    .sortSelect_Y7hcA>div>div {
        flex-grow: 1;
        width: 0
    }
}

.productTile_3HEk2 {
    flex: 0 1 auto;
    flex-direction: column;
    position: relative
}

.productTile_3HEk2 a {
    color: inherit
}

.title_1RKnO {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .6px;
    height: 40px;
    height: var(--product-tile-title-height);
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-top: var(--product-tile-title-top-margin)
}

.productImageWrapper_3aOXQ {
    position: relative
}

.productImage_OHEr2 {
    cursor: pointer
}

@-webkit-keyframes pulse_2bbkV {

    0%,
    to {
        background-color: #ddd;
        background-color: var(--asos-grey-40)
    }

    50% {
        background-color: #f8f8f8;
        background-color: var(--asos-grey-10)
    }
}

@keyframes pulse_2bbkV {

    0%,
    to {
        background-color: #ddd;
        background-color: var(--asos-grey-40)
    }

    50% {
        background-color: #f8f8f8;
        background-color: var(--asos-grey-10)
    }
}

@-webkit-keyframes fadeIn_xELFC {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn_xELFC {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.imageWrapper_2MG5O {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-top: 127.586%;
    padding-top: var(--product-tile-image-height);
    display: block;
    background-color: #eee;
    background-color: var(--asos-grey-20)
}

.loading_3tW6F {
    -webkit-animation: pulse_2bbkV 2s infinite;
    animation: pulse_2bbkV 2s infinite
}

.loading_3tW6F>.productImage_2uJHI {
    opacity: 0
}

.productImage_2uJHI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.banner_jrpyY {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.2px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 8px;
    bottom: 0;
    text-align: center;
    text-transform: uppercase
}

.outOfStock_31kC0 {
    background-color: #fae7ec;
    background-color: var(--asos-light-red)
}

.lowInStock_3nujb {
    background-color: #ffebcc;
    background-color: var(--asos-light-amber)
}

.noWrap_1zIIQ {
    white-space: nowrap
}

.pricing_ThuFn {
    margin-top: 8px;
    margin-top: var(--product-tile-price-top-margin);
    height: 44px;
    height: var(--product-tile-price-height)
}

.threeLines_3DPgJ {
    height: 60px;
    height: var(--product-tile-three-line-price-height)
}

.price_1YBt- {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .8px;
    display: inline-block;
    color: #666;
    color: var(--asos-grey-90);
    margin-right: 4px
}

.sale_2OWG- {
    color: #d01345;
    color: var(--asos-red)
}

.original_36DSI {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .8px;
    display: inline-block;
    color: #2d2d2d;
    color: var(--asos-black);
    text-decoration: line-through
}

:root {
    --line-height: 20px;
    --fade-length: 4em
}

.overflowFade_l2MEf {
    overflow: hidden;
    height: 40px;
    height: calc(var(--line-height)*2);
    line-height: 20px;
    line-height: var(--line-height);
    word-wrap: break-word
}

.overflowFade_l2MEf p {
    margin: 0
}

.overflowFade_l2MEf:before {
    content: "";
    float: left;
    width: 1px;
    height: 40px;
    height: calc(var(--line-height)*2)
}

.overflowFade_l2MEf>:first-child {
    float: right;
    width: 100%;
    margin-left: -1px
}

.overflowFade_l2MEf:after {
    content: "";
    float: right;
    position: relative;
    top: -20px;
    top: calc(var(--line-height)*-1);
    left: 100%;
    width: 4em;
    width: var(--fade-length);
    height: 20px;
    height: var(--line-height);
    margin-left: -4em;
    margin-left: calc(var(--fade-length)*-1);
    padding-right: 1px;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff)
}

:root {
    --spin-duration: 1000ms
}

@-webkit-keyframes rotate_EBcpQ {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes rotate_EBcpQ {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.progressIndicator_2XoOL,
.progressIndicator_2XoOL:after,
.progressIndicator_2XoOL:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
}

.progressIndicator_2XoOL:after,
.progressIndicator_2XoOL:before {
    width: 56px;
    height: 56px;
    content: "";
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-color: var(--asos-white)
}

.progressIndicator_2XoOL:before {
    -webkit-animation: rotate_EBcpQ 1s linear infinite;
    animation: rotate_EBcpQ 1s linear infinite;
    -webkit-animation: rotate_EBcpQ var(--spin-duration) linear infinite;
    animation: rotate_EBcpQ var(--spin-duration) linear infinite;
    -webkit-animation-delay: var(--spin-offset);
    animation-delay: var(--spin-offset);
    background-image: linear-gradient(0deg, transparent, rgba(45, 45, 45, .2)), linear-gradient(90deg, rgba(45, 45, 45, .2), rgba(45, 45, 45, .4)), linear-gradient(180deg, rgba(45, 45, 45, .4), rgba(45, 45, 45, .6)), linear-gradient(270deg, rgba(45, 45, 45, .6), #2d2d2d);
    background-image: linear-gradient(0deg, transparent, rgba(45, 45, 45, .2)), linear-gradient(90deg, rgba(45, 45, 45, .2), rgba(45, 45, 45, .4)), linear-gradient(180deg, rgba(45, 45, 45, .4), rgba(45, 45, 45, .6)), linear-gradient(270deg, rgba(45, 45, 45, .6), var(--asos-black));
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 50% 50%
}

.progressIndicator_2XoOL:after {
    width: 48px;
    height: 48px;
    background-size: 43% 43%;
    background-position: 50%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='21' viewBox='0 0 24 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.094 20c-3.544 0-6.79-2.77-6.79-7.733 0-3.894 2.433-7.667 6.813-7.667 1.898 0 6.708.645 6.708 7.667 0 7.04-5.023 7.733-6.73 7.733zM24 1.015c0-.22-.182-.4-.402-.4h-4.28c-.22 0-.4.18-.4.4V2.13c0 .188-.128.252-.281.144C17.114 1.177 14.863 0 12.153 0a11.85 11.85 0 00-4.322.79c-1.347.525-2.626 1.325-3.8 2.378C2.691 4.376 1.673 5.754 1.006 7.26.338 8.769 0 10.453 0 12.267c0 1.694.3 3.28.891 4.715s1.491 2.762 2.676 3.945c1.185 1.184 2.509 2.083 3.935 2.674 1.426.59 2.998.889 4.673.889 2.88 0 5.042-1.218 6.458-2.326.156-.117.284-.054.284.14v1.17c0 .22.18.4.402.4h4.279c.22 0 .402-.18.402-.4V1.015z' fill='%232D2D2D' fill-rule='evenodd'/%3E%3C/svg%3E")
}

:root {
    --animation-timing-function: ease-in-out;
    --animation-fade-transition: 0.75s
}

@-webkit-keyframes pulse_3wOo6 {

    0%,
    to {
        background-color: #ddd;
        background-color: var(--asos-grey-40)
    }

    50% {
        background-color: #f8f8f8;
        background-color: var(--asos-grey-10)
    }
}

@keyframes pulse_3wOo6 {

    0%,
    to {
        background-color: #ddd;
        background-color: var(--asos-grey-40)
    }

    50% {
        background-color: #f8f8f8;
        background-color: var(--asos-grey-10)
    }
}

@-webkit-keyframes fadeIn_2O1wj {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn_2O1wj {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut_1KR55 {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut_1KR55 {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.progressIndicatorWrapper_vDjCW {
    position: relative
}

.progressIndicatorOverlay_2iAHd {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: #fff;
    background: var(--asos-white);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: var(--animation-timing-function);
    animation-timing-function: var(--animation-timing-function);
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: var(--animation-fade-transition);
    animation-duration: var(--animation-fade-transition)
}

.progressIndicatorOverlay_2iAHd.visible_2xzU7 {
    opacity: 1
}

.progressIndicatorOverlay_2iAHd:not(.visible_2xzU7) {
    opacity: 0;
    -webkit-animation-name: fadeOut_1KR55;
    animation-name: fadeOut_1KR55
}

.toBagButton_OatoQ {
    margin-top: 8px;
    margin-top: var(--product-tile-to-bag-button-top-margin)
}

.deleteButton_1K5bT {
    top: 8px;
    position: absolute;
    right: 8px
}

:root {
    --image-aspect-ratio: 1.27586;
    --product-tile-image-height: calc(100%*var(--image-aspect-ratio));
    --product-tile-title-top-margin: 12px;
    --product-tile-title-height: 40px;
    --product-tile-price-top-margin: 8px;
    --product-tile-price-height: 44px;
    --product-tile-three-line-price-height: 60px;
    --product-tile-select-height: 44px;
    --product-tile-to-bag-button-top-margin: 8px;
    --product-tile-overlay-circle-button-diameter: 36px;
    --product-tile-overlay-circle-button-gutter: 8px
}

.productSelect_3ZDo7 select {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .6px;
    height: 44px;
    height: var(--product-tile-select-height);
    border-top: 1px solid #ddd;
    border-top: 1px solid var(--asos-grey-40)
}

@media (min-width:0px) and (max-width:767px) {
    .productSelect_3ZDo7 select {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .4px
    }
}

.toBagButton_3wcKB {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .8px;
    background: transparent;
    border: 2px solid #018849;
    border: 2px solid var(--asos-green);
    cursor: pointer;
    color: inherit;
    padding: 4px 0;
    text-transform: uppercase;
    width: 100%
}

.toBagButton_3wcKB:hover {
    border-color: #006637;
    border-color: var(--asos-dark-green)
}

.toBagButton_3wcKB:disabled {
    cursor: default;
    color: #fff;
    color: var(--asos-white);
    background-color: #eee;
    background-color: var(--asos-grey-20);
    border-color: #eee;
    border-color: var(--asos-grey-20)
}

.loadedItemsWrapper_3QrER {
    margin: 16px auto 0
}

@media (min-width:0px) and (max-width:767px) {
    .loadedItemsWrapper_3QrER {
        max-width: 488px;
        padding: 0 12px;
        padding: 0 calc(var(--small-customer-items-padding)/2)
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .loadedItemsWrapper_3QrER {
        max-width: 2790px
    }
}

@media (min-width:1024px) {
    .loadedItemsWrapper_3QrER {
        max-width: 1300px
    }
}

@media (min-width:768px) and (max-width:1023px),
(min-width:1024px) {
    .loadedItemsWrapper_3QrER {
        padding: 0 32px;
        padding: 0 calc(var(--medium-large-customer-items-padding)/2)
    }
}

.content_1bkcR {
    display: flex;
    max-width: 1300px;
    margin: 0 auto
}

.content_1bkcR>div {
    display: flex;
    flex-direction: column;
    flex: 1
}

.informationContainer_V9ohc {
    display: flex;
    flex-direction: row
}

.informationContainer_V9ohc:before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%232D2D2D' fill-rule='evenodd' d='M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-18a8 8 0 100 16 8 8 0 000-16zM9 8.505h2v6H9v-6zM9 6c0-.548.452-1 1-1s1 .452 1 1-.452 1-1 1-1-.452-1-1z'/%3E%3C/svg%3E");
    margin-right: 16px
}

.message_Hr3-z {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .4px
}

@media (min-width:0px) and (max-width:767px) {
    .content_1bkcR {
        max-width: 488px;
        padding: 16px 12px;
        padding: 16px calc(var(--small-customer-items-padding)/2)
    }
}

@media (min-width:768px) and (max-width:1023px),
(min-width:1024px) {
    .content_1bkcR {
        padding: 16px 32px;
        padding: 16px calc(var(--medium-large-customer-items-padding)/2)
    }
}

@-webkit-keyframes showFromTop_3ydVE {
    0% {
        visibility: visible;
        transform: translateY(-100px)
    }

    to {
        visibility: visible;
        transform: translateY(0)
    }
}

@keyframes showFromTop_3ydVE {
    0% {
        visibility: visible;
        transform: translateY(-100px)
    }

    to {
        visibility: visible;
        transform: translateY(0)
    }
}

.errorBanner_RTOx1 {
    position: relative;
    background: #fae7ec;
    background: var(--asos-light-red);
    z-index: 1;
    z-index: var(--top-error-banner-z-index)
}

.show_2w5HS {
    visibility: hidden;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: showFromTop_3ydVE;
    animation-name: showFromTop_3ydVE;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.retry_1yvcD {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .8px;
    font-size: 16px;
    padding: 0;
    align-self: flex-start;
    background: none;
    border: none;
    margin: 4px 0 0 36px;
    cursor: pointer
}

.closeButton_3s7c2 {
    float: right;
    margin: 0 0 auto auto;
    width: 23px;
    height: 23px;
    background-size: 15px;
    background-position: 50%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath fill='%232D2D2D' fill-rule='evenodd' d='M7.5 6.086L12.803.782l1.415 1.415L8.914 7.5l5.304 5.303-1.415 1.415L7.5 8.914l-5.303 5.304-1.415-1.415L6.086 7.5.782 2.197 2.197.782 7.5 6.086z'/%3E%3C/svg%3E");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer
}

:root {
    --bottom-error-banner-z-index: 99999999999;
    --top-error-banner-z-index: 1
}

@-webkit-keyframes showFromBottom_1mMDA {
    0% {
        visibility: visible;
        transform: translateY(100px)
    }

    to {
        visibility: visible;
        transform: translateY(0)
    }
}

@keyframes showFromBottom_1mMDA {
    0% {
        visibility: visible;
        transform: translateY(100px)
    }

    to {
        visibility: visible;
        transform: translateY(0)
    }
}

.errorBanner_1LZy8 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999;
    z-index: var(--bottom-error-banner-z-index)
}

.show_3UpiX {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: showFromBottom_1mMDA;
    animation-name: showFromBottom_1mMDA
}

:root {
    --asos-black: #2d2d2d;
    --asos-full-black: #000;
    --asos-grey-90: #666;
    --asos-grey-70: #767676;
    --asos-grey-40: #ddd;
    --asos-grey-20: #eee;
    --asos-grey-10: #f8f8f8;
    --asos-white: #fff;
    --asos-green: #018849;
    --asos-dark-green: #006637;
    --asos-light-green: #cceede;
    --asos-amber: #ff9c32;
    --asos-dark-amber: #b6752f;
    --asos-light-amber: #ffebcc;
    --asos-blue: #0770cf;
    --asos-dark-blue: #1862a5;
    --asos-light-blue: #cde2f5;
    --asos-red: #d01345;
    --asos-light-red: #fae7ec;
    --asos-bright-red: #ff3b30;
    --small-customer-items-padding: 24px;
    --medium-large-customer-items-padding: 64px;
    --small-number-of-products-per-row: 2;
    --medium-number-of-products-per-row: 3;
    --large-number-of-products-per-row: 4
}

.pageLoadError_2EJWe {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%
}

.disappointed_3PdHg {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='88' height='88' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FFD95A'%3E%3Cpath d='M29 0h30v88H29z'/%3E%3Cpath d='M18 6h52v76H18z'/%3E%3Cpath d='M12 12h64v64H12z'/%3E%3Cpath d='M6 18h76v52H6z'/%3E%3Cpath d='M0 30h88v28H0z'/%3E%3Cg opacity='.6' style='mix-blend-mode:multiply'%3E%3Cpath d='M29 0h30v88H29z'/%3E%3Cpath d='M18 6h52v76H18z'/%3E%3Cpath d='M12 12h64v64H12z'/%3E%3Cpath d='M6 18h76v52H6z'/%3E%3Cpath d='M0 30h88v28H0z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%232D2D2D' d='M41 59h6v6h-6z'/%3E%3Cpath fill='%232D2D2D' d='M41 59h6v6h-6zM47 59h6v6h-6zM53 65h6v6h-6zM29 65h6v6h-6zM35 59h6v6h-6zM18 47h6v6h-6zM64 47h6v6h-6zM24 41h12v6H24zM52 41h12v6H52z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    width: 88px;
    height: 88px;
    min-height: 88px;
    display: block
}

.prompt_3vlhb {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .8px;
    margin: 24px auto 8px
}

.message_5Nrmh,
.prompt_3vlhb {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif
}

.message_5Nrmh {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .4px;
    margin: 8px auto 24px;
    border: none;
    max-width: 288px
}

.homeButton_qhms1 {
    margin-bottom: 16px
}

.retryButtonOnline_2wF3b {
    border: 2px solid #ddd;
    border: 2px solid var(--asos-grey-40);
    color: #2d2d2d;
    color: var(--asos-black)
}

.retryButtonOnline_2wF3b,
.retryButtonOnline_2wF3b:hover {
    background-color: #fff;
    background-color: var(--asos-white)
}
