.Card_card {
    background-color: #fff;
}

.Card_container {
    flex: 1 1 100%;
    background-color: transparent;
    margin: 10px 0 0;
}

.Card_main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Card_asideCardWrapper {
    width: 100%;
}

.Card_main,
.Card_bottom,
.Card_half {
    padding: 16px;
    margin-bottom: 16px;
}

.Card_half {
    flex: 1 1 45%;
    margin-bottom: 0;
}

.Card_aside {
    padding: 16px;
    width: 100%;
    margin-bottom: 12px;
}

.Card_mainListingPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    margin-bottom: 20px;
}

.Card_getInTouch {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    margin-bottom: 20px;
}

.Card_homepageTopicWrapper {
    overflow: hidden;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.Card_homepageTopicWrapper:first-child>div>div {
    border-top: 1px solid #dddddd;
}

.Card_homepageTopicWrapper:last-child>div>div {
    border-bottom: 0;
}

@media all and (min-width: 640px) {
    .Card_homepageTopicWrapper {
        flex: 1 1 40%;
        margin: 0 10px 20px;
        padding: 4px 24px;
    }

    .Card_homepageTopicWrapper:last-child>div>div {
        border-bottom: 1px solid #dddddd;
    }

    .Card_half {
        margin: 0 10px 10px;
    }

    .Card_homepageTopicWrapper:first-child>div>div {
        border-top: 0
    }
}

@media all and (min-width: 720px) {
    .Card_main {
        padding: 24px;
        margin-right: 20px;
    }

    .Card_mainListingPage {
        padding: 0 16px 0 16px;
        margin-right: 20px;
    }

    .Card_getInTouch {
        padding: 0 16px 0 16px;
        margin-right: 0;
    }

    .Card_bottom {
        padding: 16px;
        margin-right: 20px;
    }

    .Card_app {
        flex-direction: row;
    }

    .Card_aside {
        width: 221px;
    }

    .Card_asideCardWrapper {
        width: auto;
    }
}

@media all and (min-width: 840px) {
    .Card_homepageTopicWrapper {
        flex: 1 1 26%;
        margin: 0 10px 20px;
        padding: 4px 24px;
    }

    .Card_container {
        flex: 1 1 40%;
    }
}

@media all and (min-width: 1024px) {
    .Card_aside {
        width: 300px;
    }
}

.TopicHeader_header {
    display: block;
    text-transform: uppercase;
    color: #767676;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.43;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 8px;
}

@media all and (min-width: 720px) {
    .TopicHeader_header {
        padding-top: 0px;
    }
}

.PageTitle_header {
    display: block;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: center;
    color: #2d2d2d;
    margin-bottom: 32px;
    line-height: 1.285;
}

.HtmlContent_content {
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: left;
    color: #2d2d2d;
    line-height: 1.33;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

.HtmlContent_content h2 {
    display: block;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.8px;
    text-align: left;
    color: #2d2d2d;
    padding-top: 10px;
}

.HtmlContent_content a {
    padding-bottom: 1px;
    text-decoration: underline;
    text-underline-position: under;
    color: #2d2d2d;
    line-height: 1.33em;
    position: relative;
    cursor: pointer;
}

.HtmlContent_content a:not([href]) {
    text-decoration: none;
    cursor: default;
}

.HtmlContent_content p {
    margin-bottom: 1em;
}

.HtmlContent_content strong {
    font-weight: 900;
}

.HtmlContent_content em {
    font-style: italic;
}

.HtmlContent_content ul,
.HtmlContent_content ol {
    vertical-align: top;
    margin-bottom: 20px;
}

.HtmlContent_content ol li {
    list-style-type: decimal;
    margin-left: 23px;
}

.HtmlContent_content ul li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 23px;
}

.HtmlContent_content ul li a {
    vertical-align: top;
    margin-bottom: 3px;
}

.HtmlContent_content h1,
.HtmlContent_content h2,
.HtmlContent_content h3 {
    font-weight: 900;
}

.HtmlContent_content h1 {
    font-size: 28px;
}

.HtmlContent_content h2 {
    font-size: 24px;
}

.HtmlContent_content table {
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #2d2d2d;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    table-layout: fixed;
}

.HtmlContent_imageWrapper {
    text-align: center;
}

.HtmlContent_imageWrapper img {
    max-width: 100%;
    height: auto !important;
    width: auto !important;
    max-height: 600px;
    display: inline-block;
}

.HtmlContent_content table caption {
    text-align: left;
    margin-bottom: 20px;
    border: none;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.HtmlContent_content table td,
.HtmlContent_content table th {
    padding: 0.5rem;
    border: 1px solid #2d2d2d;
}

.HtmlContent_content table th {
    font-weight: bold;
}

@media all and (max-width: 815px) {
    .HtmlContent_content table {
        width: 100% !important;
    }
}

.Image_image {
    display: block;
    max-width: 100%;
}

.ImageLink_imageLinkContainer ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 24px -8px;
}

li.ImageLink_imageLink {
    text-align: center;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
}

@media all and (min-width: 1024px) {
    li.ImageLink_imageLink {
        width: 33.3%;
    }
}

li.ImageLink_imageLink a {
    text-decoration: none;
    display: block;
    padding-bottom: 32px;
}

li.ImageLink_imageLink a:focus {
    outline: none;
    box-shadow: inset 0 0 3px 1px #0770cf;
}

li.ImageLink_imageLink a:focus-within .ImageLink_button {
    background-color: #eeeeee;
}

li.ImageLink_imageLink div.ImageLink_imgWrap {
    justify-content: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

li.ImageLink_imageLink img {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    max-width: 174px;
    width: auto;
}

li.ImageLink_imageLink p.ImageLink_title {
    text-align: center;
    margin-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    letter-spacing: 0.8px;
    color: #2d2d2d;
    font-weight: 900;
    line-height: 1.3em;
}

.ImageLink_buttonContainer .ImageLink_button {
    min-height: 28px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #dddddd;
    font-weight: 900;
    color: #2d2d2d;
    max-width: 132px;
    margin: auto;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    color: #2d2d2d;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


.Button_button {
    min-height: 40px;
    max-width: 330px;
    /* needs to be set individually for button which are not 100% and are wider than 330px */
    width: 100%;
    padding: 11px 16px;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.6px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.Button_button:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 1px #0770cf;
}

.Button_buttonLargeWhite {
    color: #2d2d2d;
    border: 2px solid #dddddd;
}

.Button_buttonLargeWhite:hover {
    background-color: #eeeeee;
}

.Button_buttonLargeBlack {
    color: #ffffff;
    background-color: #2d2d2d;
}

.Button_buttonLargeBlack:hover {
    background-color: #000000;
}

.Button_buttonMediumWhite {
    padding: 5px 10px;
    min-height: 28px;
    border: 2px solid #dddddd;
}

.Button_spinnerContainer {
    width: 44px;
    height: 44px;
    position: relative;
    margin: 0 auto;
}

.Button_spinner:after {
    width: 82%;
    height: 82%;
}

.Button_spinner:after,
.Button_spinner:before {
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    background-color: #fff
}

.Button_spinner:before {
    width: 100%;
    height: 100%;
    -webkit-animation: Button_rotation 2s linear infinite;
    animation: Button_rotation 2s linear infinite;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .4))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .6))), -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .6)), to(#000));
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)), linear-gradient(90deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4)), linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), linear-gradient(270deg, rgba(0, 0, 0, .6), #000);
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 50% 50%
}

@-webkit-keyframes Button_rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes Button_rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.Attachments_attachmentsDropDown {
    background-color: transparent;
    background-size: 24px;
    border: 1px solid #767676;
    border-radius: 0;
    width: 100%;
    padding: 0 10px;
    margin: 12px 0px;
    height: 48px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    font-family: "futura-pt";
    line-height: 1.2;
    letter-spacing: 0.4px;
    z-index: 2;
    position: relative;
}

.Attachments_flagPadding {
    padding: 0 48px;
    background-position: 16px center;
    image-rendering: crisp-edges;
}

.Attachments_attachmentComponent {
    position: relative;
    max-width: 360px;
    display: inline-block;
    width: 100%;
}

.Attachments_menuArrow {
    position: absolute;
    right: 17px;
    top: 33px;
    z-index: 1;
}

.Attachments_attachmentContainer {
    text-align: center;
    padding-bottom: 18px;
}

@media all and (min-width: 720px) {
    .Attachments_flagPadding {
        padding: 0 51px;
    }
}

.Attachments_attachmentContainer a {
    max-width: 100%;
}

.SearchDropdown_searchDropdown {
    position: absolute;
    width: 100%;
    background: #f8f8f8;
    margin-top: 1px;
    box-shadow: 0 1px 1px 0 rgba(45, 45, 45, 0.41);
    z-index: 999;
    padding: 10px 0px;
}

.SearchDropdown_searchDropdown li button {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: 0.4px;
    padding: 10px 16px;
    color: #2d2d2d;
    position: relative;
    vertical-align: initial;
    text-align: left;
    right: 0;
}

.SearchDropdown_searchDropdown li button:hover {
    background-color: #ddd;
}

.SearchDropdown_searchDropdown li button span {
    font-family: futura-pt, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.SearchDropdown_recentSearchesOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.SearchDropdown_searchDropdownHomePage {
    top: 25px;
    padding: 30px 0px 10px;
}

.SearchBar_searchBar {
    border: 1px solid #767676;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    display: flex;
    color: #767676;
    position: relative;
    margin-bottom: 10px;
}

.SearchBar_searchBar:focus-within {
    border: 1px solid #dddddd;
}

.SearchBar_searchBar input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 9px;
    padding-right: 43px;
    font-family: "futura-pt";
    font-size: 16px;
    text-overflow: ellipsis;
    z-index: 1000;
    -webkit-appearance: initial;
}

.SearchBar_form {
    height: 100%;
    width: 100%;
}

.SearchBar_searchBar input::placeholder {
    color: #767676;
    letter-spacing: 0.6px;
    font-size: 14px;
}

.SearchBar_searchBar input:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 3px 1px #0770cf;
    outline: none;
    box-shadow: inset 0 0 3px 1px #0770cf;
    border-radius: 0;
}

.SearchBar_searchBar input:focus::-webkit-input-placeholder {
    color: transparent;
}

.SearchBar_searchBar button {
    border: 1px solid transparent;
    background: none;
    width: 38px;
    height: 38px;
    padding: 0;
    position: absolute;
    right: 0;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1000;
    color: #2d2d2d;
    top: 2px;
    transition: background-color 0.3s;
}

.SearchBar_searchBar button svg {
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    left: -4px;
    position: relative;
}

.SearchBar_searchBar button:focus {
    border: 1px solid #ffffff;
    outline: none;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 3px 1px #0770cf;
    box-shadow: 0 0 3px 1px #0770cf;
}

.HighlightBlock_highlightBar {
    border-left: 12px solid #0770cf;
    padding: 10px 0px 10px 10px;
    font-family: "futura-pt";
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: #2d2d2d;
}

.HighlightBlock_titleBlock {
    font-weight: bold;
    padding-bottom: 8px;
}

.HighlightBlock_titleBlock h2,
.HighlightBlock_titleBlock h3,
.HighlightBlock_titleBlock h4,
.HighlightBlock_titleBlock h5,
.HighlightBlock_titleBlock h6 {
    padding: 0;
    text-align: left;
    color: #2d2d2d;
    font-size: 18px;
}

.HighlightBlock_textBlock {
    font-weight: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

.HighlightBlock_highlightContainer {
    padding: 10px 0px 24px 0px;
}

@media all and (min-width: 1024px) {
    .HighlightBlock_highlightContainer {
        padding: 14px 0px 32px 0px;
    }
}

.HighlightBlock_highlightContainer a {
    padding-bottom: 1px;
    text-decoration: underline;
    text-underline-position: under;
    color: #2d2d2d;
    line-height: 1.33em;
    position: relative;
    cursor: pointer;
}

.HighlightBlock_highlightContainer ul,
.HighlightBlock_highlightContainer ol {
    width: 100%;
    display: list-item;
    margin-bottom: 20px;
}

.HighlightBlock_highlightContainer ul li {
    list-style: inside disc;
}

.HighlightBlock_highlightContainer ol li {
    list-style: inside decimal;
}

.HighlightBlock_highlightContainer ul li p,
.HighlightBlock_highlightContainer ol li p {
    display: inline;
}

.HighlightBlock_highlightContainer strong,
b {
    font-weight: bold;
}

.HighlightBlock_highlightContainer em,
i {
    font-style: italic;
}

.CardHeader_header {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.6px;
    color: #2d2d2d;
    text-align: left;
    line-height: 1.38;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    display: block;
}

@media all and (min-width: 480px) {
    .CardHeader_header {
        padding-left: 16px;
    }
}

.AsideSearch_header {
    margin-bottom: 16px;
    width: 100%;
    padding-left: 0;
}

.GetInTouch_header {
    padding-left: 0;
}

.GetInTouch_bgImage {
    background-position: center center;
    background-size: cover;
    margin: -16px -16px 6px -16px;
}

.GetInTouch_buttonContainer {
    justify-content: center;
    display: flex;
    margin-top: 16px;
}

.GetInTouch_homepage {}

@media all and (min-width: 720px) {
    .GetInTouch_bgImage {
        display: block;
    }

    .GetInTouch_header {
        padding-bottom: 9px;
        border-bottom: 0;
        line-height: initial;
    }

    .GetInTouch_buttonContainer {
        margin-top: 0;
    }

    .GetInTouch_bgImage+.GetInTouch_buttonContainer {
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .GetInTouch_bgImage {
        height: 111px;
    }

    .GetInTouch_bgImage.GetInTouch_homepage {
        height: 200px;
    }
}

@media all and (min-width: 640px) {
    .GetInTouch_bgImage {
        height: 184px;
    }
}

.CardListAnchorItem_topicItem {
    border-bottom: 1px solid #dddddd;
    font-weight: 400;
}

.CardListAnchorItem_topicItem:first-child {
    border-top: 1px solid #dddddd;
}

.CardListAnchorItem_topicItem:last-child {
    border-bottom: 0;
}

.CardListAnchorItem_anchor {
    display: block;
    text-decoration: none;
    color: #2d2d2d;
    padding: 17px;
    padding-left: 52px;
    border-bottom: none;
    position: relative;
    min-height: 72px;
    display: flex;
    align-items: center;
}

.CardListAnchorItem_anchor:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 1px #0770cf;
}

.CardListAnchorItem_homepageTopicItem {
    border-bottom: 1px solid #dddddd;
    position: relative;
    height: 100%;
}

.CardListAnchorItem_imageWrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 0px;
    text-align: center;
    top: 50%;
    margin-top: -22px;
}

.CardListAnchorItem_iconRight .CardListAnchorItem_imageWrapper {
    right: 0;
    left: auto;
}

.CardListAnchorItem_iconRight .CardListAnchorItem_anchor {
    padding-left: 5px;
    padding-right: 57px;
}

.CardListAnchorItem_icon {
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.CardListAnchorItem_small {
    height: 20px;
    width: 20px;
}

.CardListAnchorItem_medium {
    height: 26px;
    width: 26px;
}

.CardListAnchorItem_textWrapper {
    display: inline-block;
    letter-spacing: 0.4px;
    line-height: 1.38;
    text-align: left;
    font-size: 16px;
}

a.CardListAnchorItem_anchor:hover .CardListAnchorItem_textWrapper {
    text-decoration: underline;
}

.CardListAnchorItem_anchor.CardListAnchorItem_disabled {
    color: #dddddd;
}

@media all and (min-width: 480px) {
    .CardListAnchorItem_iconRight .CardListAnchorItem_anchor {
        padding-left: 16px;
    }
}

@media all and (min-width: 640px) {
    .CardListAnchorItem_homepageTopicItem {
        border-top: 0;
        border-bottom: 1px solid #dddddd;
    }

    .CardListAnchorItem_homepageTopicItem:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        right: -100%;
        bottom: -1px;
    }

    .CardListAnchorItem_homepageTopicItem:before {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        left: -100%;
        bottom: -1px;
    }
}

.ViewRelatedQuestions_buttonContainer {
    text-align: center;
    padding-bottom: 16px;
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

@media all and (min-width: 640px) {
    .ViewRelatedQuestions_popularQuestions ul {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .ViewRelatedQuestions_popularQuestions ul li:first-child {
        border-top: 0;
    }
}

.CardListItem_topicItem {
    border-bottom: 1px solid #dddddd;
    font-weight: 400;
}

.CardListItem_topicItem:first-child {
    border-top: 1px solid #dddddd;
}

.CardListItem_topicItem:last-child {
    border-bottom: 0;
}

.CardListItem_anchor {
    display: block;
    text-decoration: none;
    color: #2d2d2d;
    padding: 17px;
    padding-left: 40px;
    border-bottom: none;
    position: relative;
    min-height: 72px;
    display: flex;
    align-items: center;
}

.CardListItem_anchor:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 1px #0770cf;
}

.CardListItem_homepageTopicItem {
    border-bottom: 1px solid #dddddd;
    position: relative;
    height: 100%;
}

.CardListItem_imageWrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    left: -10px;
    text-align: center;
    top: 50%;
    margin-top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CardListItem_iconRight .CardListItem_imageWrapper {
    right: 0;
    left: auto;
}

.CardListItem_iconRight .CardListItem_anchor {
    padding-left: 5px;
    padding-right: 57px;
}

.CardListItem_icon {
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.CardListItem_textWrapper {
    display: inline-block;
    letter-spacing: 0.4px;
    line-height: 1.38;
    text-align: left;
    font-size: 16px;
}

a.CardListItem_anchor:hover .CardListItem_textWrapper {
    text-decoration: underline;
}

@media all and (min-width: 480px) {
    .CardListItem_iconRight .CardListItem_anchor {
        padding-left: 16px;
    }
}

@media all and (min-width: 640px) {
    .CardListItem_homepageTopicItem {
        border-top: 0;
        border-bottom: 1px solid #dddddd;
    }

    .CardListItem_homepageTopicItem:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        right: -100%;
        bottom: -1px;
    }

    .CardListItem_homepageTopicItem:before {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        left: -100%;
        bottom: -1px;
    }
}

.HelpTopics_header {
    padding-left: 0;
}

.HelpTopics_topicList {
    padding: 0;
    position: relative;
}

.FaqAnswer_mainWrapper {
    flex: 0 1 auto;
}

.FaqAnswer_asideCardWrapper {
    flex: 0 1 auto;
}

@media all and (min-width: 480px) {
    .FaqAnswer_mainWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 720px) {
    .FaqAnswer_mainWrapper {
        flex: 1;
        width: calc(100% - 221px);
    }

    .FaqAnswer_asideCardWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 1024px) {
    .FaqAnswer_mainWrapper {
        flex: 1;
        width: calc(100% - 300px);
    }
}

.FaqListing_mainWrapper {
    flex: 0 1 auto;
}

.FaqListing_asideCardWrapper {
    flex: 0 1 auto;
}

@media all and (min-width: 720px) {
    .FaqListing_mainWrapper {
        flex: 1;
    }

    .FaqListing_asideCardWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 480px) {
    .FaqListing_mainWrapper {
        padding-top: 48px;
    }
}

.ProgressBar_viewTotalText {
    display: block;
    color: #767676;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
}

.ProgressBar_progressBar {
    width: 100%;
    max-width: 191px;
    background-color: #dddddd;
    height: 2px;
    margin: 8px auto 16px auto;
    overflow: hidden;
}

.ProgressBar_progressBarInner {
    background-color: #0770cf;
    height: 100%;
    display: block;
    transition: 0.5s width;
}

.FixedErrorBox_fixedErrorBox {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    visibility: hidden;
    width: 100%;
    transition: transform .5s ease-in 0s;
    z-index: 16000;
    background-color: #ffebcc;
    color: #2d2d2d;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FixedErrorBox_visible {
    visibility: visible;
    transform: translateY(0);
}

.FixedErrorBox_header {
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
}

.FixedErrorBox_message {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.4px;
    padding-left: 34px;
}

.FixedErrorBox_message:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 16px;
    width: 18px;
    height: 18px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOCcgaGVpZ2h0PScxOCc+PGcgZmlsbD0nbm9uZScgZmlsbC1ydWxlPSdldmVub2RkJz48cGF0aCBzdHJva2Utd2lkdGg9JzInIGQ9J00xNyA5QTggOCAwIDExMSA5YTggOCAwIDAxMTYgMHonIHN0cm9rZT0nI2ZmYmMwMCcvPjx0ZXh0IGZvbnQtZmFtaWx5PSdIZWx2ZXRpY2FOZXVlLUJvbGQsIEhlbHZldGljYSBOZXVlJyBmb250LXNpemU9JzEyJyBmb250LXdlaWdodD0nYm9sZCcgdHJhbnNmb3JtPSd0cmFuc2xhdGUoMCAxKScgZmlsbD0nI2ZmYmMwMCc+PHRzcGFuIHg9JzcuMzMyJyB5PScxMic+ITwvdHNwYW4+PC90ZXh0PjwvZz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.FixedErrorBox_retryButton {
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

@media all and (min-width: 1024px) {
    .FixedErrorBox_fixedErrorBox {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.FaqList_foundFaqs {
    padding: 14px 5px 24px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #666666;
    text-align: left;
}

.FaqList_numberText {
    padding: 18px;
    padding-left: 5px;
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
}

.FaqList_buttonContainer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 28px;
}

.FaqList_viewTotalText {
    display: block;
    color: #767676;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
}

.FaqList_progressBar {
    width: 100%;
    max-width: 191px;
    background-color: #dddddd;
    height: 2px;
    margin: 8px auto 16px auto;
}

.FaqList_progressBarInner {
    background-color: #0770cf;
    height: 100%;
    display: block;
    transition: 0.5s width;
}

@media all and (min-width: 480px) {
    .FaqList_numberText {
        padding-left: 16px;
    }

    .FaqList_foundFaqs {
        padding: 24px 16px 24px;
    }
}

.typography_h1 {
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1.2px;
    text-align: center;
    color: #2d2d2d;
}

.typography_text {
    letter-spacing: 0.6px;
    line-height: 1.33;
    text-align: left;
    font-size: 18px;
}

.ErrorBox_errorBox {
    padding: 40px;
    text-align: center;
}

.ErrorBox_header {
    margin-bottom: 8px;
}

.ErrorBox_icon {
    margin: 0 auto 8px auto;
}

.ErrorBox_text {
    width: 100%;
    max-width: 410px;
    text-align: center;
    margin: 0 auto;
}

.ErrorBox_buttonContainer {
    margin-top: 24px;
}

.Hero_heroText {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.8px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    width: 100%;
    padding: 16px 40px;
}

.Hero_heroHomepage .Hero_heroText {
    font-size: 24px;
    bottom: 76px;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    position: relative;
}

.Hero_heroContainer {
    height: 120px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
}

.Hero_heroContainer.Hero_heroHomepage {
    height: 164px;
    align-items: flex-end;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.Hero_heroContainer:after {
    content: "";
    opacity: 0.49;
    background-color: #2d2d2d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.Hero_heroContainer.Hero_noImage:after {
    opacity: 0.75;
}

.Hero_form {
    height: 100%;
    width: 100%;
}

.Hero_searchBar {
    height: 40px;
    width: 100%;
    max-width: 288px;
    display: flex;
    color: #767676;
    position: relative;
    margin-bottom: 32px;
    z-index: 3;
    border-radius: 24px;
}

.Hero_searchBar input {
    border: 1px solid #767676;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    font-family: "futura-pt";
    line-height: 1.38;
    letter-spacing: 0.4px;
    padding-left: 20px;
    padding-right: 43px;
    border-radius: 22px;
    position: absolute;
    z-index: 1000;
    -webkit-appearance: initial;
}

.Hero_searchBar input:focus {
    outline: none;
    box-shadow: inset 0 0 3px 1px #0770cf;
    border-radius: 22px;
}

.Hero_searchBar button {
    border: none;
    background: none;
    height: 100%;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1000;
    color: #2d2d2d;
    transition: background-color 0.3s;
}

.Hero_searchBar .Hero_submitButton {
    border-radius: 50%;
    top: 0;
    right: 0;
    height: 39px;
    width: 39px;
}

.Hero_searchBar button.Hero_active {
    background-color: #0770cf;
    color: #fff;
}

.Hero_searchBar form>button:focus {
    border: 2px solid #fff;
    outline: none;
    box-shadow: 0 0 3px 1px #0770cf;
}

.Hero_searchBar ul li button:focus {
    background-color: #ddd;
}


.Hero_searchBar button svg {
    display: inline;
    vertical-align: middle;
    padding-top: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.Hero_searchBar button[disabled] svg path {
    fill: #2d2d2d;
}

.Hero_searchBar button svg path {
    fill: #fff;
}

@media all and (min-width: 480px) {
    .Hero_heroContainer {
        height: 164px;
    }

    .Hero_heroHomepage .Hero_heroText {
        line-height: 1.25;
        letter-spacing: 1.2px;
        font-size: 24px;
    }

    .Hero_searchBar input {
        padding-right: 53px;
    }

}

@media all and (min-width: 640px) {
    .Hero_heroHomepage .Hero_heroText {
        font-size: 36px;
        bottom: 90px;
    }

    .Hero_searchBar {
        height: 48px;
        width: 100%;
        max-width: 560px;
    }

    .Hero_heroContainer.Hero_heroHomepage {
        height: 260px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .Hero_searchBar .Hero_submitButton {
        height: 48px;
        width: 48px;
        padding: 15px;
        top: 0;
    }

}

@media all and (min-width: 720px) {
    .Hero_heroContainer {
        height: 206px;
    }

    .Hero_getInTouch {
        height: 220px;
    }
}

@media all and (min-width: 1024px) {
    .Hero_heroText {
        padding: 16px 140px;
    }
}

.SearchResults_mainWrapper {
    flex: 0 1 auto;
}

.SearchResults_asideCardWrapper {
    flex: 0 1 auto;
}

@media all and (min-width: 480px) {
    .SearchResults_mainWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 720px) {
    .SearchResults_mainWrapper {
        flex: 1 0;
        max-width: calc(100% - 221px);
    }

    .SearchResults_asideCardWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 1024px) {
    .SearchResults_mainWrapper {
        flex: 1 0;
        max-width: calc(100% - 300px);
    }
}

#chrome-breadcrumb nav ol li:last-child a {
    color: #2d2d2d;
}

.SearchHeader_header {
    display: block;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.8px;
    text-align: center;
    color: #2d2d2d;
    margin-bottom: 24px;
    margin-top: 8px;
    line-height: 1.285;
    word-break: break-all;
}

.SearchHeader_subHeader {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align: center;
    color: #666666;
    margin-top: 32px;
    padding-top: 0;
}

.SearchList_searchContainer {
    padding: 0 5px;
}

.SearchList_foundFaqs {
    padding: 14px 5px 24px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #666666;
    text-align: left;
}

.SearchList_numberText {
    padding: 18px;
    padding-left: 5px;
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
}

.SearchList_buttonContainer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 28px;
}

@media all and (min-width: 480px) {
    .SearchList_numberText {
        padding-left: 16px;
    }

    .SearchList_searchContainer {
        padding: 0 16px;
    }

    .SearchList_foundFaqs {
        padding: 14px 16px 24px;
    }
}

.NoResultsSearchList_header {
    display: block;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.8px;
    text-align: center;
    color: #2d2d2d;
    margin-bottom: 20px;
    line-height: 1.285;
}

.NoResultsSearchList_searchIconContainer {
    margin: 0 auto;
    position: relative;
    max-width: 44px;
}

h2 {
    color: #666666;
    text-align: center;
    padding-top: 38px;
}

.NoResultsSearchList_subHeader {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align: center;
    color: #666666;
    margin-top: 32px;
}

.NoResultsSearchList_noFoundFaqs {
    padding: 0 43px;
    margin-top: -10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #2d2d2d;
    font-weight: 900;
    white-space: pre-wrap;
    text-align: center;
    line-height: 20px;
    word-break: break-all;
}

.NoResultsSearchList_noFoundFaqs2 {
    padding: 8px 25px 24px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #2d2d2d;
    font-weight: 400;
    white-space: pre-wrap;
    text-align: center;
    line-height: 20px;
}

.NoResultsSearchList_numberText {
    padding: 18px 18px 18px 5px;
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
}

.NoResultsSearchList_buttonContainer {
    text-align: center;
    padding-bottom: 16px;
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.NoResultsSearchList_viewTotalText {
    display: block;
    color: asosgrey70;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
}

@media all and (min-width: 480px) {
    .NoResultsSearchList_numberText {
        padding-left: 16px;
    }

    .NoResultsSearchList_searchContainer {
        padding: 0 16px;
    }

    .NoResultsSearchList_foundFaqs {
        padding: 14px 16px 24px;
    }
}

@media only screen and (min-width: 400px) {
    .NoResultsSearchList_noFoundFaqs {
        padding: 0 61px;
    }
}

@media all and (min-width: 720px) {
    .NoResultsSearchList_noFoundFaqs {
        margin-top: 0;
    }

    .NoResultsSearchList_noFoundFaqs2 {
        padding: 8px 5px 24px;
    }
}

@media all and (min-width: 1024px) {
    .NoResultsSearchList_noFoundFaqs {
        padding: 0;
    }
}

.ErrorPage_mainWrapper {
    flex: 0 1 auto;
}

.ErrorPage_asideCardWrapper {
    flex: 0 1 auto;
}

@media all and (min-width: 720px) {
    .ErrorPage_mainWrapper {
        flex: 1;
    }

    .ErrorPage_asideCardWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 480px) {
    .ErrorPage_mainWrapper {
        padding-top: 48px;
    }
}

.Homepage_mainWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Homepage_helpTopicsOuterWrapper {
    flex: 1 1 100%;
}

.Homepage_serviceMessageContainer {
    flex: 1 1 100%;
}

.Homepage_serviceMessageContainer ul {
    display: block;
}

.Homepage_serviceMessageContainer button {
    font-family: "futura-pt";
}

@media all and (min-width: 640px) {
    .Homepage_helpTopicsOuterWrapper {
        margin-top: 22px;
    }

    .Homepage_serviceMessageContainer {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.RelatedFaqWrapper_relatedFaqWrapper {
    padding-top: 17px;
    padding-bottom: 17px;
    display: none;
}

.RelatedFaqWrapper_viewMoreLink {
    display: block;
    color: #666666;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}


.RelatedFaqWrapper_relatedFaqItem {
    color: #2d2d2d;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    display: block;
    line-height: 1.38;
    letter-spacing: 0.4px;
}

.RelatedFaqWrapper_relatedFaqItem:hover {
    text-decoration: underline;
}

@media all and (min-width: 640px) {
    .RelatedFaqWrapper_relatedFaqWrapper {
        display: block;
    }
}

.HomepageHeader_header {
    background-color: white;
    padding: 24px 16px 16px 16px;
    position: relative;
}

.HomepageHeader_header:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    bottom: -1px;
    right: 0;
    background-color: #fff;
}

.HomepageHeader_header:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #fff;
}

.HomepageHeader_homepageTopicWrapper {
    flex: 1 1 30%;
}

@media all and (min-width: 640px) {
    .HomepageHeader_header {
        background-color: transparent;
        padding: 10px 10px 16px 10px;
        border: 0;
    }

    .HomepageHeader_header:after,
    .HomepageHeader_header:before {
        content: none;
    }
}

.HelpTopicsHomepage_header {
    background-color: white;
    padding: 24px 16px 16px 16px;
    border: 0;
}

.HelpTopicsHomepage_topicContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.HelpTopicsHomepage_homepageTopicWrapper {
    flex: 1 1 30%;
}

@media all and (min-width: 640px) {
    .HelpTopicsHomepage_relatedFaqWrapper {
        display: block;
    }

    .HelpTopicsHomepage_header {
        background-color: transparent;
        padding-left: 0;
    }
}

.ServiceMessages_serviceMessages {
    width: 100%;
    flex: 1 1 100%;
}

.Accordion_accordionSection {
    overflow: hidden;
}

.Accordion_serviceMsg {
    background-color: #ffebcc;
    border-top: 1px solid #767676;
}

.Accordion_serviceMsg:last-child {
    border-bottom: 1px solid #767676;
}

.Accordion_accordionHeader {
    font-size: 14px;
    font-weight: 900;
    color: #2d2d2d;
    padding: 16px 64px 16px 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 18px;
    position: relative;
    text-align: left;

    overflow: hidden;
}

.Accordion_accordionHeader:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 1px #0770cf;
}

@media all and (min-width: 480px) {
    .Accordion_accordionHeader {
        padding: 21px 73px 21px 21px;
    }
}

@media all and (min-width: 720px) {
    .Accordion_accordionHeader {
        padding: 24px 80px 24px 24px;
    }
}

button.Accordion_accordionHeader {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;
}

.Accordion_accordionHeader .Accordion_iconWrapper {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 5px;
}

@media all and (min-width: 480px) {
    .Accordion_accordionHeader .Accordion_iconWrapper {
        right: 8px;
        top: 9px;
    }
}

@media all and (min-width: 720px) {
    .Accordion_accordionHeader .Accordion_iconWrapper {
        right: 12px;
        top: 13px;
    }
}

button.Accordion_accordionHeader .Accordion_icon {
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    top: 11px;
    position: relative;
}

button.Accordion_accordionHeader .Accordion_iconMinus svg {
    top: -4px;
    position: relative;
}

.Accordion_accordionSectionContent {
    transition: all 0.25s ease-in;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    /* the following is to account for word breaks for long words in all browsers */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.Accordion_accordionSectionContent:focus {
    outline: none;
}

.Accordion_accordionSectionContent ul,
.Accordion_accordionSectionContent ol {
    width: 100%;
    display: list-item;
    margin-bottom: 20px;
}

.Accordion_accordionSectionContent ul li {
    list-style: inside disc;
}

.Accordion_accordionSectionContent ol li {
    list-style: inside decimal;
}

.Accordion_accordionSectionContent ul li p,
.Accordion_accordionSectionContent ol li p {
    display: inline;
}

.Accordion_accordionSectionContent strong,
b {
    font-weight: bold;
}

.Accordion_accordionSectionContent em,
i {
    font-style: italic;
}

.Accordion_accordionText {
    padding: 5px 16px 16px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #2d2d2d;
}

@media all and (min-width: 480px) {
    .Accordion_accordionText {
        padding: 0 21px 21px;
    }
}

@media all and (min-width: 720px) {
    .Accordion_accordionText {
        padding: 8px 24px 24px;
    }
}

.Accordion_accordionText a {
    color: #2d2d2d;
    text-decoration: underline;
}

.Accordion_isOpen {
    max-height: 500px;
    visibility: visible;
}

.Contact_mainWrapper {
    flex: 0 1 auto;
}

.Contact_asideCardWrapper {
    flex: 0 1 auto;
}

@media all and (min-width: 720px) {
    .Contact_mainWrapper {
        flex: 1;
    }

    .Contact_asideCardWrapper {
        padding-top: 48px;
    }
}

@media all and (min-width: 480px) {
    .Contact_mainWrapper {
        padding-top: 48px;
    }
}

.ErrorPage500_errorContainer {
    width: 100%;
}

.ErrorPage500_errorBoxContainer {
    margin-bottom: 12px;
    background-color: #ffffff;
}

.ErrorPage500_contactChannels {
    padding: 0 16px;
    background-color: #ffffff;
    margin-bottom: 12px;
}

.ErrorPage500_contactChannels li:first-child {
    border-top: none;
}

.index_appLayout {
    background-color: #eeeeee;
    max-width: 1302px;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
    display: flex;
}

p {
    font-weight: unset;
}

@media all and (min-width: 480px) {
    .index_appLayout {
        padding: 0 10px;
    }
}

@media all and (min-width: 720px) {
    .index_appLayout {
        flex-flow: row;
    }
}

@media all and (min-width: 1024px) {
    .index_appLayout {
        padding: 0 42px;
    }
}

#react-root * {
    box-sizing: border-box;
}

.global_item-enter {
    opacity: 0;
}

.global_item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.global_item-exit {
    opacity: 1;
}

.global_item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input {
    font-family: futura-pt, sans-serif;
}

select::-ms-expand {
    display: none;
}
